#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the Transactions table */
.transactions table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the Transactions table header */
.transactions th {
  text-align: left;
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/* Style for the Transactions table body */
.transactions td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Style for the Transactions table body cells with points */
.transactions td:last-child {
  font-weight: bold;
  color: #4CAF50;
}

tbody tr td:first-child {
  text-align: left;
}

tbody tr td:last-child {
  text-align: right;
}

.transactions th:last-child {
  text-align: right;

}

strong {
  color: #222;

}

.totals {

  display: flex;
flex-direction: column;
width: 100%;
}

.single-total-container {
  display: flex;
  justify-content: space-between;

}
.single-total-container {
  color: #4CAF50;
  font-weight: bold;
}